### Step 1: Create a package named `dataframe_cleaner`

### Step 2: Read the sample csv file
* You need to read the `sample_employees.csv` file as a DataFrame and test your functions

### Step 3: Create separate functions in `__init__.py`
1. import pandas
2. `drop_empty` takes pandas dataframe as an input and drops any row with empty value. Use pandas' `dropna`.
    * Use sample `DataFrame` to test
3. `fill_empty` takes pandas dataframe and column name as inputs and fills the given column's empty values using mean. Use pandas' `fillna`.
    * Use sample `DataFrame` to test
4. `drop_column` takes pandas dataframe and column name as inputs and drops the given column and returns the rest of the dataframe. Use pandas' `drop`.
    * Use sample `DataFrame` to test
5. `fix_index` takes pandas dataframe as an input and resets its index and returns it. Use pandas' `reset_index` and drop the old index column.
    * Use sample `DataFrame` to test
6. `fix_dates` takes pandas dataframe and column name as input. Changes given column's data type into datetime. Use pandas' `to_datetime` function.
    * Use sample `DataFrame` to test

In [39]:
import dataframe_cleaner
import pandas as pd

In [40]:
df = pd.read_csv('sample_employees.csv')

In [41]:
df.head()

,first_name,last_name,email,gender,employed_date,department,salary,bonus
0,Rosamond,Dourin,rdourin0@xing.com,Female,NaN,Business Development,91048.0,10.0
1,Mira,Giamo,mgiamo1@ameblo.jp,Female,NaN,Legal,146665.0,2.0
2,August,Nelmes,anelmes2@bbb.org,Male,9/7/2014,Accounting,161814.0,14.0
3,Carla,Franzotto,NaN,Female,6/19/2015,Human Resources,168816.0,8.0
4,Paxon,Partrick,ppartrick4@drupal.org,Male,4/15/2018,Accounting,136121.0,NaN

In [42]:
def drop_empty(df):
    return df.dropna(axis=0)

def fill_empty(df,col):
    return df.fillna(df[col].mean())

def drop_column(df,col):
    return df.drop(columns=[col])

def fix_index(df):
    return df.reset_index(drop=True)

def fix_dates(df):
    return pd.to_datetime(df[col])